<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{/js/lib/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/underscore.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/backbone.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/prac.js}"></script>
<body>
    <div id="eventInfo"></div>
    <br>
    <input type="checkbox" id="allCheck"/>&nbsp;&nbsp;
    <input type="button" id="checkControl" th:value="yeah" />
    <label>allCheck</label><br>
    <input type="checkbox" name="backCheck" value="1" />
    <label>backCheck1</label><br>
    <input type="checkbox" name="backCheck" value="2" />
    <label>backCheck1</label><br>
    <input type="checkbox" name="backCheck" value="3" />
    <label>backCheck1</label><br>


</body>
</html>